{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% if title %}
    <title> Frozen in Time- {{title}}</title>
    {% else %}
    <title> Frozen In Time </title>
    {% endif %}

    {% block styles %}
    {% bootstrap_css %}
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Oswald" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    {% endblock %}

  </head>

  <body >
    <style>
      body {
    background-image: url("https://cdn.pixabay.com/photo/2016/10/17/14/31/background-1747792_960_720.jpg");
    font-family: 'Oswald', sans-serif;
    color: #689EA8;
    }

h1, h2{
    text-align: center;
    font-family: 'Pacifico', cursive;
    }
    
      </style>
    {% include "navbar.html" %}
    
    
    {% block content %}
    
    {% endblock %}
    

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}
  </body>

</html>
