{%extends 'base.html'%}

{% block content %}
<div class="jumbotron" style="background-color: black;">
<div class="container" style="overflow:auto;">
     <div class="card" style="width: 25rem;">
         <h3 class="card-title">{{image.name}}</h3>
         <img class="card-img-top" src="{{image.pic.url}}" alt="Card image cap">
         <p class="card-text">{{image.description}}</p>
         <p class="card-text"> Location taken : {{image.image_location}}</p>
         <p class="card-text">Category : {{image.image_category}}</p>
     </div>
 </div>
</div>
 {% endblock %}