<nav class="navbar navbar-dark bg-light ">
    <ul class="nav nav-pills ">
    <li class="nav-item ">
    <a class="nav-link" href="/">Home</a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">View by Location</a>
    <div class="dropdown-menu">
        {% for location in locations %}

      <a class="dropdown-item" href="{% url 'location' loc=location.loc %}"><p>{{location.loc}}</p></a>
        {% endfor %}
    </div>

  </li>




 <div class="navbar-brand search-section">
        <div class="row">
            <div class="col-md-12 search-form">
                <form class="form-inline" role="search" action="{% url 'search_image' %}">
                    <input class="form-control search-input" name="image" type="search" placeholder="Search categories" aria-label="Search">
                </form>
            </div>
        </div>
    </div>
</nav>
