body {
    background-image: url("https://image.freepik.com/free-vector/pizza-drawings-pattern_23-2147498559.jpg");
    background-size: cover;
    }

.container-fluid {
    margin: 0 auto;
    width: 960px;
    }


h1, h2, h3,h4 {
    text-align: center;
    font-family: 'Pacifico', cursive;
    }
.col-4 {
    text-align: center;
    }
@media only screen and (max-width: 600px) {
    .container-fluid {
        width: 100%;
    }
}
@media only screen and (min-width: 600px) {
    .container-fluid {
        width: 95%;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .container-fluid {
      width: 90%;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .container-fluid {
      width: 70%;
    }
  }
  
  body {
    font-family: 'Oswald', sans-serif;
    color: #689EA8;
  }